
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Limelight&display=swap');


.nav {
  margin: 0;
  padding: 0;
  width: 100%;
}



.appbar {
  background-color: #7F461B;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  color: #FDF6EC;
  font-size: 1.5rem;
}

.nav-btn {
  color: #FDF6EC !important;
  border: 1px solid #FDF6EC;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: none;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #FDF6EC !important;
  color: #7F461B !important;
}
